{% if page.usemathjax %}
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endif %}

{% if page.usep5js %}
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
</script>
{% endif %}

{% for javascript in page.custom-javascript-list %}
    <script src="{{ javascript }}"></script>
{% endfor %}

{% for css in page.custom-css-list %}
    <link href="{{ css }}" rel="stylesheet">
{% endfor %}

<!-- Default Statcounter code for Andreinc.net
http://www.andreinc.net -->
<script type="text/javascript">
var sc_project=7153286;
var sc_invisible=0;
var sc_security="b3053c1d";
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics"
                                      href="https://statcounter.com/" target="_blank"><img
        class="statcounter"
        src="https://c.statcounter.com/7153286/0/b3053c1d/0/"
        alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->